

.serviceitem{
    padding: 20px;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px;
}

.serviceitem span i{
    font-size: 2.2rem;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    color: #fff;
    font-weight: 400 !important;
}

.serviceitem h3{
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.serviceitem p{
    font-size: .9rem;
    margin-top: 5px;
    color: #222;
}

