productinfo h3{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top: 15px;
}

.productinfo span{
    font-size: 0.9rem;
}

.productcardbtm .price{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.productcardbtm span i{
    font-size: 1.2rem;
    padding: 5px;
    background: var(--primary-color);
    color: azure;
    border-radius: 50px;
}

.productitem{
    cursor: pointer;
}
 
.productinfo a{
    text-decoration: none;
    color: black;
}

.productinfo a:hover{
    color: black;
}